node_modules
package-lock.json
yarn.lock
.DS_Store
.env
.env.local
.env.e2e
app/dist
app/web-dist
app/release
app/deploy
app/frontend/dist
app/coverage
app/frontend/coverage
storage
.pnpm-store
.tmp
coverage
npm-debug.log*
.idea
.vscode
.turbo
docs/_site
e2e/test-results
