name: Build and Push Release Docker Image

on:
  release:
    types: [published]

jobs:
  checks:
    uses: ./.github/workflows/checks.yml

  build-and-push:
    runs-on: ubuntu-latest
    needs: checks
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install dependencies
        run: npm install
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Repository name lowercase
        id: repo
        run: echo "repository=$(echo '${{ github.repository }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
      - name: Extract version
        id: version
        run: echo "RELEASE_VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV
      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.repo.outputs.repository }}:latest
            ghcr.io/${{ steps.repo.outputs.repository }}:${{ env.RELEASE_VERSION }}
